{% extends 'layouts/blank.html' %}

{% block content %}
    <div class="flex flex-col items-center justify-center">
        <div class="max-w-4xl mx-auto px-8 py-24" style="text-align: center;">
            <h1>OZ Coding School First Mini Project</h1>
            <h3>Hello, Django!</h3>
            🤗
        </div>

        <div class="flex justify-center">
            <button onclick="location.href='survey'" class="bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600">Start Survey</button>
        </div>
    </div>

{% endblock %}